version: '3.1'
services:
  ml.thageesan:
    build:
      context: .
      dockerfile: ai/Dockerfile
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [ gpu ]
    environment:
      - APP_ENVIRONMENT=${APP_ENVIRONMENT}
      - APP_NAME=${APP_NAME}
      - POSITIVE_CSV_FILE=${POSITIVE_CSV_FILE}
      - NEGATIVE_CSV_FILE=${NEGATIVE_CSV_FILE}
      - SNIPPET_CSV_FILE=${SNIPPET_CSV_FILE}
      - BIO_SENT_FILE=${BIO_SENT_FILE}
      - USE_CPU=${USE_CPU}
      - GOOGLE_SERVICE_ACCOUNT_KF_DICT=${GOOGLE_SERVICE_ACCOUNT_KF_DICT}
      - GDRIVE_ID=${GDRIVE_ID}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_REGION=${AWS_REGION}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - S3_BUCKET=${S3_BUCKET}
      - S3_BUCKET_PATH=${S3_BUCKET_PATH}
      - UML_SBERT_MODEL_NAME=${UML_SBERT_MODEL_NAME}
      - UML_SBERT_FOLDER_PATH=${UML_SBERT_FOLDER_PATH}
      - DATA_FOLDER=${DATA_FOLDER}
      - EMBED_SNIPPETS_UMLSBERT_FILE=${EMBED_SNIPPETS_UMLSBERT_FILE}
      - EMBED_SNIPPETS_BIOSENT_FILE=${EMBED_SNIPPETS_BIOSENT_FILE}
    volumes:
      - ./data:/app/data
      - ./ai:/app/ai
      - ./shared:/app/shared